<!--The content below is only a placeholder and can be replaced.-->
    

<div class="container mt-4">
    <div class="card ml-5 mr-5">
        <div class="card-header bg-secondary text-white">
            <div class="card-title">Login Demo</div>
        </div>
       <!-- <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                <div class="form-group">
                    <label for="Email ID">Email ID</label>
                    <input type="email" name="emailID" class="form-control" [(ngModel)]="emailID" email placeholder="Enter email id" required>
                </div>
                <div class="from-group">
                    <label for="Email ID">Password</label>
                    <input type="password" name="pass" class="form-control" [(ngModel)]="pass" placeholder="Enter Password" required>
                </div>
                <div class="mt-2 float-right">
                    <input type="submit" value="Login" class="btn btn-success" [disabled]="loginForm.invalid">
                </div>
            </form>
        </div> -->
        <div class="card-footer">
            <button class="btn btn-block facebookbtn" (click)="user.facebookLogin()"><i class="fa fa-facebook"></i> Facebook</button>
            <button class="btn btn-block btn-info" (click)="user.googleLogin()"><i class="fa fa-google"></i> Google</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="card-body" *ngIf="user.uid | async as uid">
        Welcome user : {{uid}}
       <!-- <div *ngIf="user.isAdmin | async">You have admin power</div> -->    
        <button class="btn btn-danger" (click)="user.googleLogout()">Logout</button>
    </div>
</div>


<router-outlet></router-outlet>
